<h1>Hello <%= @user.name %>, this is your dashboard</h1>
<h3>Here are your items</h3>
<div class="card dashboardcard">
  <% @items.each do |item| %>
  <div class="bookingsubcarddash">
    <div class="bookingsubone text-center">
      <%= cl_image_tag item.photo, height: 80, width: 80, crop: :fill %>
    </div>
    <div class="bookingsubtwo">
      <p><%= item.category %> - <%= item.title %> - <%= item.description %></p>
    </div>
    <div class="bookingsubthree">
      <h4><%= item.price_per_day %> € per day</h4>
    </div>
  </div>
  <% end %>
  <br>
  <br>
  <div><button class="custom-btn btn-5 "><span><%= link_to "Add stuff", new_item_path, class:"indexlink" %></span></button>
  </div>
</div>


<h3>Here are your bookings</h3>

<div class="card dashboardcard">
  <% @bookings.each do |booking| %>
    <%= link_to user_booking_path(current_user, booking) do %>
      <div class="bookingsubcard">
        <div class="bookingsubone text-center">
          <%= cl_image_tag booking.item.photo, height: 80, width: 80, crop: :fill %>
        </div>
        <div class="bookingsubtwo">
          <p><%= booking.item.category %> - <%= booking.item.title %> - <%= booking.item.description %></p>
        </div>
        <div class="bookingsubthree">
          <h4><%= booking.item.price_per_day %> € per day</h4>
        </div>
      </div>
    <% end %>
  <% end %>
</div>





