<div class="banner slideLeft" >
  <div class="banner-content">
    <br>
    <h1>The Good Tech</h1>
    <br>
    <div class="text-center">
    <%= image_tag "logo.png", height: 80 %>
    </div>
    <h2>Need a specific tech item for a few days?</h2>
 <br>
      <br>
    <a href="#S1">

    <div class="btn btn-medium">check our offer below</div>
    </a>
  </div>

</div>
<div id="S1", class="container"></div>
<br>
<br>
<br>
<div class="container">
  <div class="row">

    <% @categories.each do |category| %>
    <%= link_to root_path(filter: category) + '#S2' do %>
    <div class="col-xs-12 col-sm-6 col-lg-4">

      <div class="category-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('assets/<%= category %>.png');">

        <div class="category-link">

          <h2><%= category %> </h2>

        </div>
      </div>

    </div>

    <% end %>
    <% end %>
  </div>
</div>

<br>
<hr class = "linecolor" id="S2">
<br>
<br>

<div class="row">
  <% unless params[:filter].nil? %>
  <% @items.each do |item| %>
  <%= link_to item_path(item) do %>




        <div class="col-xs-12 col-sm-3">
          <div class="card indexcard">
            <div>
              <%= cl_image_tag item.photo, class:"indeximage" %>
            </div>
            <div class = "text-center">
              <h5 class= "indexlink"><%= item.title.upcase %></h5>
              <p class= "indexlink"><%= item.description %></p>
            </div>
          </div>
        </div>
      <% end %>
   <% end %>
   <% end %>
</div>
