<div class="banner">



</div>




<h1>Our Selection :</h1>
<br>
<br>
<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="category-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/<%= category %>.png');">


        <%= link_to category, root_path(filter: category), class: "category-link" %>

      </div>
    </div>
    <% end %>
  </div>
</div>



<% unless params[:filter].nil? %>
<% @items.each do |item| %>
<ul>
  <a><%= link_to item_path(item) do %>
   <%= cl_image_tag item.photo, height: 100, width: 100, crop: :fill %>
   <li><%= item.category %></li>
   <li>Description = <%= item.description %></li>
   <% end %>

 </a>
 <br>
 <br>
</ul>
<% end %>
<% end %>


