<h1>These are our categories</h1>


<div class="categories container">
  <div class="row">
    <% @categories.each do |category| %>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="category-card">
       <div>
        <%= link_to category, root_path(filter: category), class: "category-link" %>
      </div>
      <div>
        <%= image_tag ("#{category}.png"), class: "category-img" %>
      </div>
    </div>
  </div>

  <% end %>
</div>
</div>

<% unless params[:filter].nil? %>

<div class="row">
<% @items.each do |item| %>


<%= link_to item_path(item) do %>

<div class="col-xs-12 col-sm-4">
<div class="card indexcard">
  <div class="imagediv">

      <%= cl_image_tag item.photo, class: "indeximage" %>

        </div>
    <p class= "indexlink" ><%= item.category %></p>
    <p class= "indexlink" >Description = <%= item.description %></p>

     </div>
</div>

<% end %>
   <% end %>
   </div>

   <% end %>


