<br>
  <h2>You're interested in this <%= @item.category.singularize%></h2>
<div class="card">
  <div class="subcard">
    <div class="subboxleft">
      <div class="imagediv">
      <%= cl_image_tag @item.photo, height: 400, width: 400, crop: :fill %>
      </div>
    </div>

    <div class="subboxright">
      <h3><b><%=@item.title.capitalize%></b></h3>
      <br>
      <p><b>Category</b> <%= @item.category %></p>
      <p><b>Description</b> <%= @item.description %></p>
      <p><b>Adress</b> <%= @item.address %></p>

<br>
<br>
<br>
      <div><button class="custom-btn btn-5 "><span><%= link_to "Book this item", new_item_booking_path(@item), class:"indexlink" %></span></button>
      </div>
    </div>
  </div>
  </div>


<% if @show_review %>
  <h2>Reviews</h2>
  <div class="cardreview">
    <% @bookings.each do |booking|  %>
      <% booking.reviews.each do |review| %>
        <li><%= review.description %></li>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h2>Reviews</h2>
  <br>
  <div class="cardreview">
    <h4>No review yet for this item.</h4>
  </div>
<% end %>
