<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<h3>Your opinion matters!</h3>


  <div class="card logincard">
  <h4>Give your feedback about <%= @item.title %></h4>
  <%= simple_form_for [@user, @booking, @review] do |f| %>
    <%= f.input :description %>
    <%= f.input :stars %>
    <button class="custom-btn btn-5 ">
            <span>
              <%= f.submit "Add review", class:"custom-btn btn-5" %>
            </span>
          </button>
  <% end %>
  </div>

</div>

